groq==0.16.0
flask==3.0.3
# youtube-transcript-api==0.6.3
youtube-transcript-api>=0.6.1
python-dotenv==1.0.1
python-dateutil==2.9.0
pytz==2024.1
tqdm==4.66.2
colorama==0.4.6
pytest==8.0.2
black==24.2.0
flake8==7.0.0
Flask==3.0.3
Werkzeug==3.0.1
python-dotenv==1.0.1
requests==2.31.0
PyPDF2==3.0.1
python-docx==1.1.2
fpdf==1.7.2
pytesseract==0.3.10
Pillow==10.2.0
opencv-python==4.9.0.80
langchain==0.2.16
langchain-community==0.2.1
langchain-core==0.2.41
langchain-groq==0.1.0
langchain-openai==0.1.5
sentence-transformers==2.5.1
transformers==4.38.2
torch==2.2.1
torchvision==0.17.1
torchaudio==2.2.1
faiss-cpu==1.8.0
numpy==1.26.4
pandas==2.2.1
paddlepaddle== 2.6.2
scikit-learn==1.6.0